*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#root{
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.calculator {
  position: relative;
  border: 2px solid #47476b;
  padding: 5px;
  background: black;
  width: 334px;
}

.formulaScreen {
  min-height: 20px;
  font-family: 'Orbitron', sans-serif;
  font-size: 16px;
  color: orange;
  text-align: right;
  vertical-align: text-top;
  line-height: 20px;
  overflow-wrap: break-word;
  word-wrap: break-word;
}

.outputScreen {
  font-size: 20px;
  font-family: 'Orbitron', sans-serif;
  color: white;
  text-align: right;
  line-height: 35px;
}

button {
  position: relative;
  height: 65px;
  width: 80px;
  color: white;
  outline: 1px solid black;
  border: none;
  background: #4d4d4d;
  font-family: Share Tech Mono, monospace;
  font-size: 20px;
  cursor: default;
}

.jumbo {
  width: 160px;
}

button:hover {
  color: black;
  outline: 0.05em solid grey;
  z-index: 3;
}